@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
.header
{
    font-weight: bold;
    font-size: 25px;
    font-style: oblique;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    margin-top: -10px;
    font-family: Pridi;    
}
body
{
    background-image: url("resources/HD-wallpaper-wall-board-lights-black-background-black-background.jpg")
}
#first
{
    text-decoration:dotted;
    font-size: 40px;
    font-style: italic;
    font-family: Pridi;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(161, 19, 19, 0.699);
    
}

.cstu
{
    background-color: aliceblue;
    margin: auto;
    width: 275px;
    height: 3px;
    margin-top: -36px;
    -webkit-box-shadow: 7px 9px 20px 13px #272727; 
    box-shadow: 7px 9px 20px 13px #000000;
}

.atmosphere
{
    border: 3px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    width: 500px;
    margin: auto ;
}

.para1
{
    text-align: center;
    color: rgb(200, 230, 255);
    padding: 20px;
    margin-top: 290px;
}

.para2
{
    font-family: Pridi;
    text-align: center;
    color: rgb(200, 230, 255);
    padding: 20px;
    margin-top: 2px;
}

.content-wrapper 
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;
}

.firstmeetimg, .firstmeetact 
{
    border: 3px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    width: 35%; 
    font-family: Pridi;
    color: rgb(200, 230, 255);
    background-color: rgb(7, 18, 36);
}

.firstmeetimg img, .firstmeetact img 
{
    width: 100%; 
    border-radius: 7px;
    margin-bottom: 10px;
}

.infotable
{
    color: #df7e00;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: Pridi;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-style: italic;
    

}

.background-table
{
    background-color: rgb(7, 18, 36);
    color: rgb(200, 230, 255);
    font-size: 20%px;
    -webkit-text-stroke-width: 0px;
}

#leftarrange
{
    text-align: left;
}

address
{
    margin-top: 50px;
    font-style: italic;
    font-size: 12px;
    text-align: left;
    margin-left: -30px
}

dt
{
    font-style: oblique;
    font-size: 30px;
}

dd
{
    font-size: 15px;
    font-style: italic;
}

.blockquote
{
    font-size: 20px;
    margin-top: 70px;
    color: rgb(200, 230, 255);
    text-align: center;
    margin-bottom: 100px;
}

blockquote
{
    color: #df7e00;
}
